<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">     </script>
<script src="https://kit.fontawesome.com/ca052c1b0a.js" crossorigin="anonymous"></script>

<title>{{title}} - Syd Garcia Art</title>
<link rel="icon" type="image/x-icon" href="/assets/heart-peach.png">
<link rel="stylesheet" href="/css/style.css"/>
	{% if pageStyles %}
        <link rel="stylesheet" href="{{ pageStyles }}">
    {% endif %}
<script src="/js/script.js" defer></script>