<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">     </script>
<script src="https://kit.fontawesome.com/ca052c1b0a.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back,arrow_forward" />
<title>{{title}} - Syd Garcia Art</title>
<link rel="icon" type="image/x-icon" href="/assets/heart-peach.png">
<link rel="stylesheet" href="/css/style.css"/>
<script src="/js/script.js" defer></script>