<div class="footer-content">
    <div class="links">
		<a href="/">Home</a>
		<span class="divider">|</span>
		<a href="/about">About</a>
		<span class="divider">|</span>
		<a href="/links">Links</a>
    </div>
    <div class="credit">
		<p>
			Coded &amp Designed by <a href="https://cidnets.glitch.me/links/">@Cidnets</a>
		</p>
    </div>
</div>