<div class="navbar-container">
	<div class="small-screen-logo-container">
		<a {% if page.url == '/' %} href="#" {% else %} href="/" {% endif %} class="small-screen-logo">
		<img src="/assets/sydgarcia-heart.svg"/>
	</a>
	</div>
<div class="navbar" id="navbar">
	<a {% if page.url == '/' %} href="#" {% else %} href="/" {% endif %} class="logo">
		<img src="/assets/sydgarcia-heart.svg"/>
	</a>
   <input type="checkbox" id="menu-toggle" class="menu-toggle">
   <label for="menu-toggle" class="hamburger">
		<a>
			<div class="poor-mans-hamburger">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</a>
   </label>
   <a href="/" class="nav-links {% if page.url == '/' %}active {% endif %}">Traditional</a>
   <a href="/digital" class="nav-links {% if page.url == '/digital/' %}active{% endif %}">Digital</a>
   <a href="/about" class="nav-links {% if page.url == '/about/' %}active{% endif %}">About</a>
   <a href="/contact" class="nav-links {% if page.url == '/contact/' %}active{% endif %}">Contact</a>
</div>
</div>
  
 <button onclick="backToTop()" id="back-to-top-bttn" title="Go to top"><i class="fa-solid fa-caret-up"></i><p>Top</p></button>
