<div class="navbar" id="navbar">
	<a {% if page.url == '/' %} href="#" {% else %} href="/" {% endif %} class="logo">
		<img src="/assets/heart-pink.png"/></a>
   <input type="checkbox" id="menu-toggle" class="menu-toggle">
   <label for="menu-toggle" class="hamburger small-screen-logo">
		<img src="/assets/heart-pink.png"/></a>
   </label>
   <a href="/" class="nav-links {% if page.url == '/' %}active {% endif %}">Home</a>
   <a href="/about" class="nav-links {% if page.url == '/about/' %}active{% endif %}">About</a>
   <a href="/archive" class="nav-links {% if page.url == '/archive/' %}active{% endif %}">Archive</a>
   <a href="/contact" class="nav-links {% if page.url == '/contact/' %}active{% endif %}">Contact</a>
</div>
  
 <button onclick="backToTop()" id="back-to-top-bttn" title="Go to top"><i class="fa-solid fa-caret-up"></i><p>Top</p></button>
