<div class="gallery-container">

    {% for art in traditional %}
    <a href="{{ art.fullsize_url }}" class="custom-lightbox-trigger">
        <figure class="gallery-item">
            <img src="{{ art.thumbnail_url }}" alt="{{ art.alt_text }}" loading="lazy">
            <figcaption class="gallery-caption">{{ art.title }}</figcaption>
        </figure>
    </a>
	{% endfor %}

</div>