---
layout: layouts/base.njk
templateClass: tmpl-home
title: Hello!
description: This is the homepage
---

<div class="wrapper home">
	<div class="content">
		<div>
			{{ content | safe }}
			
			{% include "portfolio/traditional-gallery.njk" %}
		</div>
	</div>
</div>

<div class="modal-container" id="my-modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <button class="modal-close-btn" aria-label="Close modal">&times;</button>
        <img src="" alt="Full-size artwork" class="modal-image">
    </div>
</div>