---
layout: layouts/base.njk
templateClass: tmpl-home

---

<div class="wrapper home">
	<div class="content">
		{{ content | safe }}
		<div class="gallery-container">
			{% for art in digital %}
			{% include "portfolio/gallery.njk" %}
			{% endfor %}
		</div>
		{% include "portfolio/gallery-modal.njk" %}
	</div>
</div>