:root {
  --color-bg: #FFD6A5;
  
  --section-divider: url('/assets/Section-dividers.png');
  --section-divider-color: #674665;
  
/* BUTTONS */
  --tiny-heart-peach: url('/assets/tiny-heart-peach.png');
  --tiny-heart-pink: url('/assets/tiny-heart-pink.png');
  
/* Random Typography Things */
  --color-text-outline: #fff;
  --text-outline: -1px -1px 0 var(--color-text-outline),  
    1px -1px 0 var(--color-text-outline),
    -1px 1px 0 var(--color-text-outline),
     1px 1px 0 var(--color-text-outline);
}