.navbar-container {
	display: none;
}
footer a.footer-logo:hover {
	background-color: transparent;
}
footer p a {
    border-bottom: 2px var(--color-primary) solid;
}
footer p {
    width: fit-content;
    margin: 0 auto;
    line-height: 1.4rem;
}
footer p:not(:last-child) {
	margin: 0.5rem auto;
} 
.footer-content .links a:hover,
.footer-content .credit a:hover {
    background: var(--color-primary);
}
