.archive li:not(:last-child) {
  margin-bottom: 1rem;
}
.posts-grid li a {
	position: relative;
}
.archive li a div.dongle {
	position: relative;
	width: 75%;
}
.archive li a h1 {
	width: 75%;
  position: relative;
  margin: 0 0 0.5rem;
  z-index: 1;
}
.archive li a div.archive-img-container {
	width: 25%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	padding: 0.25rem;
	border-radius: 1rem;
	background-color: white;
	z-index: 0;
}
.archive li a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.75rem;
	border: 2px dashed var(--accent-2);
}

/* Pagination */
.archive-pagination ol {
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.archive-pagination ol li {
  display: inline;
}
.archive-pagination li a {
	display: inline-block;
	height: 2rem;
	padding: 0.25rem 0.5rem;
	vertical-align: bottom;
	border: none;
	border-radius: 1rem;
}

a.disabled {
	opacity: 0.6;
  cursor: default;
  color: var(--text);
}
a.disabled:hover {
	background-color: transparent;
	color: var(--text);
}

.archive-pagination-numbers {
	min-width: 1.5rem;
	padding: 0.25rem;
	aspect-ratio: 1/1;
}
.archive-pagination a.pagination-active {
	background-color: var(--accent-2);
	color: var(--background);
}