@import url('https://fonts.googleapis.com/css2?family=Coiny&family=DynaPuff:wght@400..700&family=Gamja+Flower&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--font-family: "Sour Gummy";
	--font-family-header: "Coiny";
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-family-header);
}

a {
	text-decoration: none;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.gamja-flower-regular {
  font-family: "Gamja Flower", serif;
  font-weight: 400;
  font-style: normal;
}

.dynapuff {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.coiny-regular {
  font-family: "Coiny", serif;
  font-weight: 400;
  font-style: normal;
}

.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
