:root {
	--page-border: url('/assets/Large-border-l-blue.png') 30% round;
}

div.page {
	width: 90vw;
	max-width: 700px;
	padding: 1rem;
}
.page {
	border: 39px solid transparent;
	border-image: var(--page-border);
	background-color: var(--l-blue);
}

.contact-button {
	display: block;
	position: relative;
	width: 3rem;
	height: 3rem;
	text-align: center;
	font-size: 1.5rem;
	color: var(--color-text-main);
	border: var(--border);
	border-image: var(--border-blue);
	background-color: var(--blue);
	aspect-ratio: 1/1;
}
.contact-button:hover {
	background-image: url('/assets/white-dot-border.png');
	border-image: var(--border-white);
}
.contact-button i {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-button i::before {
	height: auto;
}

.self-portrait {
	max-height: 300px;
	margin: 0 auto;
}