/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

@import "reset.css";
@import "archive.css";
@import "colors.css";
@import "fonts.css";
@import "footer.css";
@import "headers.css";
@import "navbar.css";
@import "page.css";
@import "post.css";
@import "posts-grid.css";

:root {
  --wrapper-height: 85vh;
  --image-max-width: 320px;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
  transition: 0s;
}
[hidden] {
  display: none !important;
}

/* Page structure */
body {
	display: grid;
  font-family: var(--font-family);
  background-color: var(--background);
  background-image: var(--background-image);
  background-size: 100px;
  color: var(--text);
  margin: 0;
}
.canopy-filler {
  background-color: var(--text);
  width: 100%;
  height: 2.75rem;
  position: absolute;
  top: 0;
  border-top: 2px solid var(--accent-2);
  z-index: 99;
}
.canopy {
  background-image: url("/assets/Wooden-slats.png"), url("/assets/canopy-ends.png");
  background-size: 150px;
  background-position: 0 0, 50% 100%;
  background-repeat: repeat-x;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 2.5rem;
  z-index: 99;
}
.wrapper {
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 4rem 2rem 0;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}

/* Typography */
p {
  margin: 0 0 1rem 0;
  line-height: 1.5 !important;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1em;
  color: var(--text);
  margin-bottom: 1rem;
}
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-header-2);
}
h1 {
  font-size: 4.2rem;
  color: var(--text-header);
  font-family: var(--font-family-header);
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.15rem;
}
small,
.text_small {
  font-size: 0.8rem;
}
ul > li,
ol > li {
  line-height: 1.5;
  font-size: 1rem;
  padding-left: 1rem;
}
ul {
  padding: 0 0 0 18px;
  margin: 0;
}
ul.no-bullet {
  list-style-type: none;
}
ul {
  list-style-type: "❤︎";
}
li::marker {
  font-size: 0.75rem;
}
blockquote {
  border-left: 2px solid var(--accent-4);
  padding: 0 1rem;
}

/* Link styles */
a {
  text-decoration: none;
  border-bottom: 2px solid var(--primary);
  color: var(--foreground);
}
a:hover {
  background: var(--primary);
  color: white;
}

/* Title style adjustments */
.title-lg {
  color: var(--text);
  font-style: normal;
  line-height: 1.5;
}
.title-md {
  font-size: 56px;
}

/* Layout: Home */
.home {
  justify-content: left;
}
.illo-container {
  display: flex;
  justify-content: flex-end;
}
.illustration {
  max-width: 180px;
  max-height: var(--image-max-width);
  margin-top: 1rem;
  margin-right: 2rem;
  transform: rotate(16deg);
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  scrollbar-gutter: stable;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-1);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-2);
}

@media screen and (max-width: 576px) {
  .wrapper {
    margin: 9.5rem 1rem 0;
  }
}
